Source: openmrs-emt
Standards-Version: 1.0
Section: base
Priority: optional
Maintainer: Kaweesi Joseph <k.joseph@openmrs.org>

Package: openmrs-emt
Section: base
Priority: optional
Architecture: all
Description: OpenMRS monitoring tool for MoH Rwanda
